<section class="home">
    <div class="container p-1">
        <input [(ngModel)]="searchKey" class="form-control my-3" placeholder="search for note..." type="text">
        <div class="button d-flex justify-content-end p-1">
            <button type="button" class="btn addNoteBtn ms-auto" data-bs-toggle="modal" data-bs-target="#addModal">
                Add note
            </button>
        </div>

          
        <!-- modal of add -->
        <!-- Button trigger modal -->

  <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">Notes</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
            <div class="modal-body">
                <form [formGroup]="noteAddForm" (ngSubmit)="addNote(noteAddForm)">
                    <input formControlName="title" class="form-control my-1" type="text" placeholder="title..">
                    <textarea formControlName="content" class="form-control my-1" placeholder="describtion..." name="describtion" id="describtionadd" cols="30" rows="5"></textarea>
                    <div class="modal-footer">
                        <button type="submit" class="btn addNoteBtn" data-bs-dismiss="modal">Add</button>
                        <button type="button" class="btn cancelNoteBtn" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
            
            </div>
        </div>
    </div>
        <!-- end add modal -->
        
        <div class="cards d-flex align-items-center flex-wrap">
            <div *ngFor="let card of notes|search:searchKey" class="card m-2">
                <div class="note-head d-flex justify-content-between">
                    <h1 class="h6">{{card.title}}</h1>
                    
                    <div class="dropdown">
                        <i class="fa-solid fa-ellipsis-vertical settings-dots" data-bs-toggle="dropdown" aria-expanded="false"></i>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editModal" (click)="getNoteId(card._id)">Edit</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="getNoteId(card._id)" >Delete</a></li>
                        </ul>
                      </div>
                </div>
                <p class="lead">{{card.content}}</p>
                <!-- edit modal -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editModalLabel">Edit note</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                <div class="modal-body">
                    <form [formGroup]="noteEditForm" (ngSubmit)="editNote(noteEditForm)">
                        <input formControlName="title" class="form-control my-1" type="text" placeholder="title..">
                        <textarea formControlName="content" class="form-control my-1" placeholder="describtion..." name="describtion" id="describtionedit" cols="30" rows="5"></textarea>
                        <div class="modal-footer">
                            <button type="submit" class="btn addNoteBtn" data-bs-dismiss="modal">Update</button>
                            <button type="button" class="btn cancelNoteBtn" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
                
                </div>
            </div>
        </div>
        <!-- end of edit modal -->
        <!-- delete modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Edit note</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                <div class="modal-body">
                    <p class="lead">Are you sure you want to delete this note?</p>
                    <div class="modal-footer">
                        <button type="button" (click)="deleteNote()" class="btn addNoteBtn" data-bs-dismiss="modal">Delete</button>
                        <button type="button" class="btn cancelNoteBtn" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
                
                </div>
            </div>
        </div>




        <!-- end delete modal -->

            </div>
            
        </div>
        
        
    </div>
</section>
